@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-desktop{
    width: 100%;
    height: 140px;
    background-color: #252525;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 2%;
    position: fixed;
}

.header-desktop figure img{
    width: 140px;
    height: 140px;
}

/* Estilo básico para o link */
.header-desktop nav a {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    color: white;
    list-style: none;
    text-decoration: none;
    margin: 0px 6px;
    position: relative; /* Necessário para o pseudo-elemento ::after */
    transition: 0.3s;
}

/* Efeito ao passar o mouse */
.header-desktop nav a:hover {
    color: #106EB5; /* Garante que a cor do texto continue branca */
}

/* Adiciona o sublinhado da esquerda para a direita */
.header-desktop nav a::after {
    content: ''; /* Necessário para criar o pseudo-elemento */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* O sublinhado será do tamanho total do link */
    height: 3px; /* Espessura do sublinhado */
    background-color: #106EB5; /* Cor do sublinhado */
    transform: scaleX(0); /* Inicialmente o sublinhado não é visível */
    transform-origin: bottom right; /* Começa da direita e se expande para a esquerda */
    transition: transform 0.3s ease-out; /* Efeito suave de transição */
}

/* Quando o mouse passa sobre o link */
.header-desktop nav a:hover::after {
    transform: scaleX(1); /* O sublinhado aparece da esquerda para a direita */
    transform-origin: bottom left; /* Agora o sublinhado se expande da esquerda para a direita */
}

.header-mobile{
    display: none;
}

.conteudo-inicio{
    width: 100%;
    height: 100vh;
    padding-top: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteudo-inicio figure img{
    width: 450px;
    height: 450px;
}

.conteudo-inicio h1{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    color: #2e3a6f;
}

.conteudo-inicio span{
    font-weight: 800;
}

.conteudo-inicio p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: #2e3a6f;
}

.conteudo-inicio a{
    padding: 16px 32px;
    margin-right: 6px;
    background-color: #f0f1ef;
    border-radius: 18px;
    color: #2e3a6f;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    transition: 0.3s;
}

.conteudo-inicio a:hover{
    background-color: #106EB5;
    color: white;
}

/* Media Query para dispositivos móveis */
@media only screen and (max-width: 768px) {
    .header-desktop {
        display: none; /* Esconde o cabeçalho desktop em dispositivos móveis */
    }

    .header-mobile {
        background-color: #252525;
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 0px 5%;
        position: fixed;
        width: 100%;
    }
    .header-mobile nav{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #252525;
        top: 0;
        left: 0;
    }

    .header-mobile nav a {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-size: 22px;
        font-weight: 600;
        font-style: normal;
        color: white;
        list-style: none;
        text-decoration: none;
        margin: 6px 0px;
        position: relative; /* Necessário para o pseudo-elemento ::after */
        transition: 0.3s;
    }
    
    /* Efeito ao passar o mouse */
    .header-mobile nav a:hover {
        color: #106EB5; /* Garante que a cor do texto continue branca */
    }

    .header-mobile nav a:focus {
        color: #106EB5; /* Garante que a cor do texto continue branca */
    }

    .header-mobile nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-mobile nav .menu-toggle-close{
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 5%;
        margin-top: 5%;
    }

    .header-mobile .menu-toggle-open{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-size: 40px;
        font-weight: 600;
        font-style: normal;
        color: white;
        list-style: none;
        text-decoration: none;
        margin: 6px 0px;
        position: relative; /* Necessário para o pseudo-elemento ::after */
        transition: 0.3s;
    }

    /* Efeito ao passar o mouse */
    .header-mobile.menu-toggle-open:hover {
        color: #106EB5; /* Garante que a cor do texto continue branca */
    }

    .header-mobile.menu-toggle-open:focus {
        color: #106EB5; /* Garante que a cor do texto continue branca */
    }

    .conteudo-inicio{
        width: 100%;
        height: 100vh;
        padding-top: 140px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .conteudo-inicio figure img{
        width: 450px;
        height: 450px;
        display: none;
    }
    
    .conteudo-inicio h1{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-size: 28px;
        font-weight: 700;
        font-style: normal;
        color: #2e3a6f;
        text-align: center;
        margin: 12px 2px;
    }
    
    .conteudo-inicio span{
        font-weight: 800;
    }
    
    .conteudo-inicio p{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-size: 17px;
        font-weight: 400;
        font-style: normal;
        color: #2e3a6f;
        margin: 0 12px;
        text-align: center;
    }
    
    .conteudo-inicio a{
        padding: 16px 32px;
        margin-right: 6px;
        background-color: #f0f1ef;
        border-radius: 18px;
        color: #2e3a6f;
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        transition: 0.3s;
    }
    
    .conteudo-inicio a:hover{
        background-color: #106EB5;
        color: white;
    }

    .inicio-botoes{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}