@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilo da barra de navegação */
.navbar {
    background-color: #333;
    font-family: 'Montserrat', sans-serif; /* Adiciona a fonte ao menu */
}

/* Botão de menu no mobile */
.navbar-toggler {
    border: 2px solid white; /* Borda do botão */
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Ícone do botão de menu no mobile */
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Botão ativo */
.navbar-toggler:focus,
.navbar-toggler:active {
    border-color: #efb432; /* Borda ativa */
    background-color: #efb432;
}

/* Links do menu */
.navbar-nav .nav-link {
    color: white; /* Cor dos links */
    transition: color 0.3s ease-in-out; /* Suavização na transição */
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte aos links */
}

/* Hover no link */
.navbar-nav .nav-link:hover {
    color: #efb432; /* Cor de hover */
}

/* Link ativo */
.navbar-nav .nav-link.active {
    color: #efb432; /* Cor do link ativo */
}

/* Estilo padrão para o <main> */
main {
    background-image: url('/src/img/background-2.jpg'); /* Imagem de fundo */
    background-size: cover; /* Cobre todo o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    padding: 300px 0; /* Espaçamento interno */
    color: white; /* Cor do texto */
}

/* Container com estilo adicional */
main .container {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    max-width: 800px; /* Largura máxima */
}

/* Aplicar Montserrat para h2 e p */
h2 {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte ao título */
    font-weight: 700; /* Negrito para o título */
}

p {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte ao parágrafo */
    font-weight: 400; /* Peso normal para o parágrafo */
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #333; /* Cor de fundo */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 0px 0; /* Espaçamento interno */
    font-family: 'Montserrat', sans-serif; /* Usa a fonte Montserrat */
}

/* Estilo padrão para mobile (cascata) */
footer p {
    margin: 10px 0; /* Espaçamento vertical entre parágrafos */
}

/* Estilo para telas maiores (1400px ou mais) */
@media (max-width: 1400px) {
    main {
        padding: 145px 0; /* Reduz o espaçamento */
    }
}

/* Estilo dos links no modo mobile */
@media (max-width: 768px) {
    main {
        padding: 180px 0; /* Reduz o espaçamento */
    }
    main .container {
        max-width: 90%; /* Define a largura como 90% do container */
        padding: 10px; /* Reduz o padding */
    }

    main h2 {
        font-size: 24px; /* Reduz o tamanho do título */
    }

    main p {
        font-size: 16px; /* Reduz o tamanho do parágrafo */
    }
    
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        flex-direction: column; /* Coloca os links um abaixo do outro */
        align-items: center; /* Centraliza os links horizontalmente */
        text-align: center;
        gap: 10px; /* Espaçamento entre os itens */
    }

    .navbar-collapse {
        justify-content: right; /* Centraliza o menu */
    }

    .navbar-brand img {
        width: 80px;
    }

    footer {
        display: flex; /* Usando Flexbox */
        justify-content: space-between; /* Espaçamento entre os itens */
        flex-direction: column;
        align-items: center; /* Alinha verticalmente */
        padding: 20px; /* Ajuste o padding conforme necessário */
    }

    footer p {
        margin: 0; /* Remove margens para alinhamento adequado */
    }

    .footer-title {
        display: none; /* Oculta o parágrafo "Capoeira no Coração (CNC)" */
    }
}

/* Ajustes gerais */
.navbar-brand img {
    width: 100px;
    height: auto;
}
